.SubTitle {
	color: #ae1100;
	text-transform: uppercase;
	font-weight: normal;
}

/* .SubContainer {
	background-color: orange;
} */

.EmailForm form {
	width: 100%;
	padding: 0;
}
.CheckBoxField {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 5px;
	align-items: center;
}

.DropdownContainer {
	display: table-cell;
	padding: 5px;
}

.Schedule {
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	width: 100%;
}

.CheckboxContainer {
	display: table-cell;
}
