.SideBarContainer {
	position: fixed;
	width: 300px;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: 200;
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: 5px 0px 15px #babece;
}

.Open {
	transform: translateX(0);
}

.Close {
	transform: translateX(-100%);
}
