.mapContainer {
	width: 100%;
	height: 100%;
}

.stationMarker {
	background: radial-gradient(circle closest-side, #990000, #99000000);
	background-size: cover;
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	cursor: pointer;
}

.selectedLocationMarker {
	background-image: url('../../assets/pin.png');
	opacity: 0.6;
	background-size: cover;
	width: 5vh;
	height: 5vh;
	cursor: pointer;
}

.pinIcon {
	margin: 0 auto;

	height: 100%;
}
