.InputCard {
	padding: 10px;
}

.InputForm {
	display: table;
	vertical-align: middle;
	table-layout: fixed;
	width: 100%;
}

.Left {
	display: table-cell;
	text-align: left;
	margin: auto;
	vertical-align: middle;
}

.Right {
	text-align: right;
	display: table-cell;
	margin: auto;
	vertical-align: middle;
	padding: 5px;
	width: 50px;
	height: 50px;
}

.Segment {
	padding: 15px 0;
	text-align: center;
}

.InputLabelBox {
	position: relative;
}

.InputFormField {
	position: relative;
}

.fullDropDownContainer {
	position: relative;
}
.fullDropDown {
	font-weight: bold;
	box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
	transition: all 0.2s ease-in-out;
	position: absolute;
	width: 100%;
	border: 0;
	outline: 0;
	border-radius: 10px;
	margin: 10px 0 0 0;
	background-color: #ebecf0;
	text-shadow: 1px 1px 0 #fff;
}
