.singleSuggestion {
	font-size: 12px;
	padding: 0;
	margin: 5px;
	background-color: #ebecf0;
	border-radius: 10px;
	padding: 3px;
}

.singleSuggestion:hover {
	background-color: #d9d9db;
	color: rgb(174, 17, 0);
}
