.SideBarCard {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px;
}
.SideBarCard h1,
.SideBarCard h2,
.SideBarCard h3 {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.SideBarCard button,
.SideBarCard input {
	padding: 10px;
	border-radius: 0;
}
